img {
    width: 300px;
}
html{ 
    box-sizing: border-box;
}
body {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
h2{
    margin: 0;
    font-size: 30px;
}

h1{
    color: pink;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    margin: 0;
}
footer{
    margin: 0%;
}
footer a{
    color: white;
    background-color:black;
    text-decoration: none;
    padding: 1px;
    border-radius: 4px;
    margin: 10px;
}
footer a:hover{
    background-color: rgb(158, 12, 90, 80);
}

.item h3{
    margin-top: 0;
}
.divider > section{
    border-bottom: 1px dashed #343434;
    padding: 25px 0;
}

/*responsive*/
@media screen and (min-width: 450px) {
    .two-column {
        column-count: 2;
        column-gap: 2.4em;
    }
}
.masthead {
    background-color: pink;
    padding: 5%;
}

.page-title {
    background-color: black;
    padding: 5%;
}

.main-content {
    background-color: palevioletred;
    padding: 5%;
}

.sidebar {
    background-color: plum;
    padding: 5%;
}

.footer-content {
    background-color: rgb(163, 110, 140);
    padding: 5%;
}
